%- set url = "http://homeassistant.local:8123/" -%

# Welcome
This is my Home Assistant installation.
``As of {{ date_time }}``
* ##### Use the "[Services]({{ url }}developer-tools/service)" tab under Developer Tools to run the ``readme.generate`` service to regenerate this readme.md file.
* ##### To make changes to the Jinja generator check: ``./config/templates/README.j2``

## Some statistics about my installation

Description | value
-- | --
Number of entities | {{states | count}}
Number of sensors | {{states.sensor | count}}

{% if addons %}
***
## [**My Add-ons:**]({{ url }}hassio/dashboard)
{%- set states = {'stopped':'Stopped Services', 'started':"Running Services"} -%}
{%- set state = namespace(name="") -%}
{%- for addon in addons  | sort(attribute='state,name') -%}
{%- if addon.state != state.name -%}
{%- set state.name = addon.state -%}
{% if states[state.name] %}
### __{{ states[state.name] }}__
{% else %}
### **{{ state.name }}**
{% endif %}
{% endif %}
- #### [{{addon.name}} ({{addon.version}})]({{ url }}hassio/addon/{{addon.slug}}/info){#: _{{addon.description}}_#}
{% endfor %}
{%- endif -%}

{% if custom_components %}
***
## My Custom Components:
{% for integration in custom_components %}
- #### [{{integration.name}} ({{integration.version}})]({{integration.documentation}})
{% endfor %}
{% endif %}

{% if hacs_components %}
{% set categories = {'integration':'Integrations', 'plugin':"Frontend - Lovelace", 'theme':"Frontend - Themes"} %}
***
## [**HACS Components:**]({{ url }}hacs/integrations)
{% set cat = namespace(name="") %}
{% for component in hacs_components | sort(attribute='category,name') %}
{% if component.category != cat.name %}
{% set cat.name = component.category %}
{% if categories[cat.name] %}
### **{{ categories[cat.name] }}**
{% else %}
### **{{ cat.name }}**
{% endif %}
{% endif %}
- #### [{{component.name}}]({{component.documentation}}){#: _{{component.description}}_#}
{% endfor %}
{% endif %}

***
Generated by the [custom readme integration](https://github.com/custom-components/readme)